%h1= "Proposal #{ @proposal.id }"
= debug @notes
- @blinds.each do |blind|
  %section{ class: "blind" }
    %h2!= blind.title
    %p!= blind.info
    = render partial: 'response', collection: blind.responses
