%h1= "Proposal #{ @proposal.id }"
- @blinds.each do |blind|
  %section{ class: "blind" }
    %h2!= blind.title
    %p!= blind.info
    = render partial: 'response', collection: blind.decorated_responses

#rating= render partial: 'shared/rating', locals: { proposal: @proposal }
#notes= render partial: 'shared/note_box', locals: { notes: @notes, proposal: @proposal }
