.proposal_list
  %h4= "Submitted proposals for #{ @event.title }"
  %table
    %thead
      %tr
        %th Title
        %th Your Rating
        %th Notes
        - @sortable_questions.each do |question|
          %th.sortable= question.label
    %tbody
      - @proposals.each do |proposal|
        - rating = proposal.ratings.where(user: current_user).first
        %tr
          %td
            = link_to proposal.get_title, review_path(@event, proposal), class: 'slug'
          %td.rating= "#{rating ? rating.score : '-'}/5"
          %td.notes=  notes_for proposal
          - @sortable_questions.each do |question|
            - response = proposal.response_for_question(question)
            %td!= response.value_without_scrub_markers
