.proposal_list
  %h4= "Submitted proposals for #{ @event.title }"
  %ol
    - @proposals.each do |proposal|
      %li
        = link_to proposal.slug[0,6], review_path(@event, proposal), class: 'slug'
        %span.notes=  notes_for proposal
        %span.updated= "updated: #{ last_updated proposal }"