= form_for event do |f|
  .input
    = f.label :title
    = f.text_field :title
  .input
    = f.label :info
    = f.text_area :info
  .input
    %p.warning Changes to the blind level will take effect immidiately.
    = f.label :blind_level
    = f.text_field :blind_level
    %p.info
      %h3 Available Blinds
      %ul
        - event.blinds.by_level.each do |blind|
          %li!= "#{blind.level}: #{blind.title}"
    .input
      = f.label :active
      = f.label :active, "True", :value => "true"
      = f.radio_button :active, true
      = f.label :active, "False", :value => "false"
      = f.radio_button :active, false
    .input
      = f.label :expires
      = f.date_select :expires
  = f.submit
