%h1 Guess I better build a form here...
= form_for @proposal do |f|
  - @event.blinds.each do |blind|
    %section{ class: "blind" }
      %h2!= blind.title
      %p!= blind.info
      = render blind.responses
  = f.submit
