%h2= form_title_for @proposal 
%p.info
  %span.required *
  indicates a required field

= form_for @proposal do |f|
  - @event.blinds.each do |blind|
    %section{ class: "blind" }
      %h3.title!= blind.title
      %p.info!= blind.info
      = render blind.responses
  = f.submit
