!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "viewport", :content => "width=device-width" }

    %link{ rel: 'icon', href: '/favicon.ico', type: 'image/x-icon' }

    %title= @title || "Call for Proposals"

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,900"
    = stylesheet_link_tag "print", media: "print"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      %h1.logo Open Source & Feelings
    %main
      .notice= flash[:notice]
      = render 'shared/user_nav'
      .content= yield
    %footer
      %address
        %ul
          %li= link_to "Code of Conduct", "#", class: 'footer-link conduct'
          %li= mail_to ENV['CFP_FROM'], ENV['CFP_FROM'], class: 'footer-link mail'
          %li= link_to "Twitter", "#", class: 'footer-link twitter'
